Lab2/src/main/resources/D.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="color">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="green"/>
        <xs:enumeration value="red"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="opacity">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="50.0"/>
        <xs:enumeration value="70.0"/>
        <xs:enumeration value="30.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="cut-type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="12"/>
        <xs:enumeration value="10"/>
        <xs:enumeration value="8"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Ruby"/>
        <xs:enumeration value="Emerald"/>
        <xs:enumeration value="Garnets"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="preciousness">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Precious"/>
        <xs:enumeration value="Semiprecious"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="origin">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="South Asia"/>
        <xs:enumeration value="Columbia"/>
        <xs:enumeration value="USA"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="visual-parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="color"/>
        <xs:element ref="opacity"/>
        <xs:element ref="cut-type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2.0"/>
        <xs:enumeration value="5.0"/>
        <xs:enumeration value="10.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="gem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="preciousness"/>
        <xs:element ref="origin"/>
        <xs:element ref="visual-parameters"/>
        <xs:element ref="value"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="gem" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>